
<nav class="row mb-5" >
    <div class="col d-flex flex-start nav-post">
    <!-- To Index Page -->
        <%= link_to "Blog On Rails", posts_path %>
    </div>
    <div class="col-md-auto d-flex nav-post">
    <!-- To Index Page -->
        <%= link_to "Home", posts_path%>
    </div>
    <div class="col col-md-auto d-flex nav-post">
    <!-- To New Page -->
        <%= link_to "New Post", new_post_path%>
    </div>
</nav>

