body {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    min-height: 200px;
    border: 2px #ccc solid;
    color: #fff;
  }

  .text-hide{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    }

    .nav-post{
      background: rgb(233, 230, 230) ;
      border: 2px #ccc ;
      font-size: 22px;
      color: rgb(95, 139, 235);
      padding: 1%;
      }

      .show-post{
        background: rgb(250, 249, 249) ;
        border: 2px #ccc ;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(2, 6, 14);
        padding: 1%;
        }